/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

body {
  box-sizing: border-box;
}
div {
  margin: 50px;
  width: 200px;
  height: 200px;

  padding: 0 20px;
  border: 1px solid red;
}
hr {
  margin: 0 -20px;
}
ul {
  padding-left: 0;
  list-style: none;
}
